:root {
  --primary: #f3d9ca;
  --secondary: #faf5f3;
  --hover: #ccccff;
  --typo: #433336;
  --shade: 0 3px 10px rgb(0 0 0 / 0.2);
  --h-nav: 60px;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /*color: black;*/
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
nav li,
nav a {
  text-decoration: none;
  list-style: none;
  color: black;
}

nav {
  display: fixed;
  height: var(--h-nav);
  width: 100%;
  border-bottom: 1px solid black;
}

nav label.logo{
  margin-left: 40px;
  font-size: 25px;
  line-height: var(--h-nav);
  cursor: pointer;
  color: black;
}
nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: var(--h-nav);
  margin: 0 5px;
}
nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  padding: 8px 10px;
}

.nav_link a:active,
.nav_link a:hover {
  color: var(--typo);
  color: #b4aca9;
}


/*thanh tim kiem*/
.search_bar {
  padding: 0px 10px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 45px;
  border: 2px solid black;
}
.search_bar:focus {
  background-color: var(--secondary);
}
.search_bar > i {
  min-width: 40px;
  text-align: center;
}
.search_bar > input {
  flex: 1;
  height: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 16px;
}
.checkbtn {
  font-size: 28px;
  float: right;
  line-height: var(--h-nav);
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/*button login*/
nav button {
  padding: 9px 25px;
  border: 2px solid;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: inherit;
}
nav button:hover {
  background-color: var(--primary);
}

@media (max-width: 1090px) {
  label.logo {
    font-size: 28px;
  }
  nav ul li a {
    font-size: 18px;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--secondary);

    text-align: center;
    z-index: 0;
    /* top: var(--h-nav);  */
    left: -100%;
    transition: all 0.4s;
    box-shadow: var(--shade);
  }
  .search-div {
    display: flex;
    justify-content: center;
  }
  nav ul li a:i {
    min-width: fit-content;
  }
  nav ul li a:active {
    color: var(--typo);
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* Giới thiêu*/
.chodocu_xs{
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 1%;
  color: rgb(204, 118, 151);
}

.chodocu_xs a{
  padding: 0 10%;
  font-size: 18px;
  border: 1px solid;
  background-color: #faf5f3;
  padding: 1% 15%;
  border-color: #f3d9ca;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgb(194, 191, 191);
}

/* Danh mục sản phẩm*/

.cart{
  padding: 5% 0;
  display: flex;
  flex-direction: row;
}
.danh_muc_sp{
  padding-left: 2%;
  width: 70%;
}
.danh_muc_sp table{
  width: 100%;
  text-align: center;
}

.danh_muc_sp table th{
  padding-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #433336;
  border-collapse: collapse;
  border-bottom: 1px solid rgb(146, 144, 144);
}

.bang_1 p{
  font-size: 15px;
}

.danh_muc_sp table td{
  padding: 2% 0;
  border-bottom: 1px solid rgb(146, 144, 144);
}

.bang_1 input{
  width: 40px;
}

.bang_1 button{
  width: 50%;
  cursor: pointer;
}

.danh_muc_sp td:first-child img{
  width: 130px;
  height: 180px;
}


/* Thanh toán*/
.hoa_don{
  flex: 1;
  border-left: 1px solid rgb(146, 144, 144);
  padding-left: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.hoa_don table{
  width: 100%;
}
.hoa_don table th{
  border-collapse: collapse;
  border-bottom: 1px solid rgb(146, 144, 144);
  font-size: 15px;
  padding-bottom: 5%;
}

.hoa_don table td{
  border-collapse: collapse;
  font-size: 12px;
  padding: 3% 0;
}

.hoa_don table p{
  text-align: right;
}

.hoa_don .ship{
  border-bottom: 1px solid rgb(146, 144, 144);
}
.hoa_don select{
  width: 100%;
  font-size: 12px;
  padding: 2% 0;
  cursor: pointer;
}

.lua_chon button{
  margin: 5% 3% 10% 3%;
  padding: 2% 5%;
  box-shadow: 0px 2px 5px 0px rgb(194, 191, 191);
  cursor: pointer;
}

.lua_chon .mua_sam{
  border: 3px solid;
  border-color: #f1ceb9;
  background-color: white;
}

.lua_chon .mua_sam:hover,
.lua_chon .mua_sam:active{
  background-color: #f1ceb9;
}

.lua_chon .dat_hang{
  border: 3px solid;
  border-color: #f1ceb9;
  background-color: #f1ceb9;
}

.lua_chon .dat_hang:hover,
.lua_chon .dat_hang:active{
  border-color: #e6b292;
  background-color: #e6b292;
}


/*Footer page*/
footer{
  background-color: #FAF5F3;
  display: inline-block;
  width: 100%;

}
.tieu_de{
  font-weight: 600;
  padding-right: 40px;
}
.tieu_de .td1 a{
  padding-left: 60px;
}

.tieu_de .td2 a{
  padding-left: 30px;
}

.tieu_de .td3 a{
  padding-left: 50px;
}

.tieu_de .col{
  margin-bottom: 0;
}
.td4{
  text-align: right;
  font-size: 25px;
}
.nd a{
  display: block;
  margin-bottom: 20px;
}
.nd i{
  margin-right: 15px;
}
.nd1 a{
  padding-left: 30px;
}

.nd2 a{
  padding-left: 20px;
}
.footer_page{
  padding: 80px 50px 60px 50px;
}

.icons{
   margin-top: 20px;
   font-size: 30px;
}

/*RESPONSIVE*/

@media only screen and (max-width:1024px){
    /*Thanh toán*/
.lua_chon button{
  margin: 5% 0% 10% 3%;
  padding: 3%;
}

.lua_chon .mua_sam, .dat_hang{
  font-size: 12px;
}

  /*Footer page*/

  .tieu_de{
      font-weight: 550;
      padding-right: 40px;
      padding-bottom: 10px;
  }
  .tieu_de .td1 a{
      padding-left: 60px;
  }
  
  .tieu_de .td2 a{
      padding-left: 30px;
  }
  
  .tieu_de .td3 a{
      padding-left: 50px;
  }
  
  .tieu_de .col{
      margin-bottom: 0;
  }
  .td4{
      text-align: right;
      font-size: 18px;
  }
  .nd a{
      display: block;
      margin-bottom: 20px;
      font-size: 15px;
  }
  .nd i{
      margin-right: 15px;
  }
  .nd1 a{
      padding-left: 25px;
  }
  
  .nd2 a{
      padding-left: 20px;
  }
  .footer_page{
      padding: 80px 50px 40px 50px;
   }
   
  .slogan_icon .icons{
    font-size: 25px;
  }
}

@media only screen and (max-width:768px){
/* Danh mục sản phẩm*/

.danh_muc_sp{
  padding-left: 2%;
  width: 65%;
}

.danh_muc_sp table th{
  padding-bottom: 10px;
  font-size: 10px;
}

.bang_1 p{
  font-size: 12px;
}


.bang_1 input{
  width: 30px;
}

.bang_1 button{
  width: 60%;
}

.danh_muc_sp td:first-child img{
  width: 100px;
  height: 150px;
}


/* Thanh toán*/

.hoa_don table th{
  font-size: 12px;
  padding-bottom: 3%;
}

.hoa_don table td{
  font-size: 11px;
}

.hoa_don select{
  font-size: 11px;
  padding: 1% 0;
}
.lua_chon .mua_sam, .dat_hang{
  font-size: 11.5px;
}

.lua_chon h5{
  font-size: 11.5px;
}
  /*Footer page*/

.tieu_de a{
    font-size: 13px;
}
.tieu_de .td1 a, .tieu_de .td2 a{
    padding-left: 20px;
}

.tieu_de .td3 a{
    padding-left: 30px;
}

.nd a{
    margin-bottom: 8px;
    font-size: 11px;
}
.nd i{
    margin-right: 10px;
}
.nd1 a, .nd2 a{
    padding-left: 10px;
}

.footer_page{
    padding: 60px 40px 40px 40px;
 }
 
.slogan_icon .icons{
  font-size: 16px;
}
  
}

@media only screen and (max-width:425px){

/* Giới thiêu*/

.chodocu_xs a{
  padding: 0 5%;
  font-size: 13px;
  padding: 1% 5%;
}

/* Danh mục sản phẩm*/

.cart{
  flex-direction: column;
}
.danh_muc_sp{
  padding-left: 2%;
  width: 100%;
}
.danh_muc_sp table{
  width: 100%;
  padding-right: 2%;
}

.danh_muc_sp table th{
  padding-bottom: 10px;
  font-size: 8px;
}

.bang_1 p{
  font-size: 11px;
}

.bang_1 input{
  width: 20px;
}

.bang_1 button{
  width: 60%;
}

.danh_muc_sp td:first-child img{
  width: 80px;
  height: 100px;
}


/* Thanh toán*/
.hoa_don{
  margin-left: 10%;
  margin-top: 5%;
  border: 0;
}

.hoa_don table{
  border: 1px solid rgb(146, 144, 144);
  width: 90%;
  padding: 1%;
}
.hoa_don table th{
  font-size: 13px;
  padding-bottom: 2%;
}

.hoa_don table td{
  font-size: 12px;
  padding: 3% 0;
}

.hoa_don table p{
  text-align: right;
}

.hoa_don select{
  width: 90%;
  font-size: 11px;
}

.lua_chon button{
  margin: 5% 3% 10% 3%;
  padding: 2% 5%;
  box-shadow: 0px 2px 5px 0px rgb(194, 191, 191);
  cursor: pointer;
}

.lua_chon h5{
  font-size: 13px;
}

  /*Footer page*/

.nd3 #gmail, #dia_chi,
.tieu_de .td1, .td2, .td3, .nd1, .nd2,
.nd3{
  display: none;
}
.slogan_icon{
  margin-top: 15px;
  margin-left: 20px;
}

}
