@import "https://fonts.googleapis.com/css?family=Lato:400,700";
:root {
  --primary: #f3d9ca;
  --secondary: #faf5f3;
  --hover: #ccccff;
  --typo: #433336;
  --shade: 0 3px 10px rgb(0 0 0 / 0.2);
  --h-nav: 60px;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: black;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
li,
a {
  text-decoration: none;
  list-style: none;
}

nav {
  display: fixed;
  height: var(--h-nav);
  width: 100%;
  border-bottom: 1px solid black;
}

label.logo {
  margin-left: 40px;
  font-size: 25px;
  line-height: var(--h-nav);
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: var(--h-nav);
  margin: 0 5px;
}
nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  padding: 8px 10px;
}

a:active,
a:hover {
  color: var(--typo);
}

/*thanh tim kiem*/
.search_bar {
  padding: 0px 10px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 45px;
  border: 2px solid black;
}
.search_bar:focus {
  background-color: var(--secondary);
}
.search_bar > i {
  min-width: 40px;
  text-align: center;
}
.search_bar > input {
  flex: 1;
  height: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 16px;
}
.checkbtn {
  font-size: 28px;
  float: right;
  line-height: var(--h-nav);
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/*button login*/
button {
  padding: 9px 25px;
  border: 2px solid;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: inherit;
}
button:hover {
  background-color: var(--primary);
}

@media (max-width: 1090px) {
  label.logo {
    font-size: 28px;
  }
  nav ul li a {
    font-size: 18px;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--secondary);

    text-align: center;
    z-index: 0;
    /* top: var(--h-nav);  */
    left: -100%;
    transition: all 0.4s;
    box-shadow: var(--shade);
  }
  .search-div {
    display: flex;
    justify-content: center;
  }
  nav ul li a:i {
    min-width: fit-content;
  }
  nav ul li a:active {
    color: var(--typo);
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/*banner*/
.mySlides {display: none} 
img {vertical-align: middle;}

.slideshow-container {
  max-width: 90vw;
  position: relative;
  margin: auto;
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 50px;
  height: 50px;
  padding: 16px;
  color:white;
  font-weight: bold;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.next {
  right: 0;
}
.prev:hover, .next:hover {
    color:pink;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*grid view*/
.grid-container {
  margin: 0px 60px;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: 250px;
  justify-content: center;
}
.item-1 {
  border-radius: 20px;
  margin: 20px;
  grid-column: 1/5;
  background-image: url(/image/slide1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 90vw;
}
.item-2 {
  border-radius: 20px;
  margin: 30px 10px;
  padding: 10px;
  grid-column: 5/6;
  background-image: url(/image/extrabanner.jpg);
  background-size: cover;
  text-align: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cir {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
h3 {
  margin: auto;
  font-weight: normal;
}

@media (max-width: 1300px) {
  .grid-container {
    margin:0px auto;
    width: 90vw;
    grid-template-columns:50% 50%;
    grid-template-rows:120px 120px 120px;
  }
  .grid-item{
    margin: 10px;
  }
  .cir{
    background-position: left;
    width:100%;
    height:100%;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
  }
  .cir:hover,:active{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .grid-item h3{
    position: absolute; 
    line-height: 100px;
    color:var(--secondary);
    font-size: 20px;
    font-weight: bold;
  }
}
/*Thuộc tính*/
.grid-container-2 {
  margin: 0px 60px;
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: repeat(3, 230px);
  justify-content: center;
}

.item1 {
  grid-row: 1/4;
  background-image: url(/image/itemm.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item2 {
  background-image: url(/image/item-1.jpg);
  background-size: cover;
  margin: 0px 0px 15px 15px;
}
.item3 {
  background-image: url(/image/item-3.jpg);
  background-size: cover;
  margin: 0px 0px 15px 15px;
}
.item4 {
  background-image: url(/image/item4.jpg);
  background-size: cover;
  margin: 0px 0px 0px 15px;
}
.grid-container-2 > div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*inside grid item1 item2...*/
.grid-container-2 h4 {
  font-size: 25px;
  color: white;
}
.grid-container-2 p {
  font-size: 17px;
  color: white;
  font-weight: lighter;
}

.grid-container-2 a {
  background-color: transparent;
  width: 150px;
  border: none;
  color: white;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: var(--shade);
  align-items: flex-end;
}
.grid-container-2 a:hover,
:visited {
  background-color: var(--primary);
  color: var(--typo);
}
@media (max-width: 900px) {
  .grid-container-2 {
    grid-template-columns: 90vw;
    grid-template-rows: 300px repeat(3, 250px);
  }
  .item1 {
    grid-row: 1/2;
    background-position: left;
    margin-bottom: 15px;
  }
  .item2 {
    margin: 0px 0px 15px ;
  }
  .item3 {
    margin: 0px 0px 15px;
  }
  .item4 {
    margin: 0px 0px 15px;
  }
}
